dialog[open] {
  border: 1px solid #737f99;
  border-radius: 16px;
  z-index: 9999;
  width: 75vw;
  max-width: 720px;
  overflow: scroll;
  scrollbar-width: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}


.close-button {
  display: block;
  margin-left: auto;
  background: none;
  color: #000000;

  &:hover, &:focus {
    color: #737f99;
    background: none;
  }
}

.search-box {
  text-align: center;
  width: 100%;

  input {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    height: 32px;
    outline: 2px solid #737f99;
    margin: 32px;
    padding: 16px;

    &:focus {
      outline: 2px solid #61dbfb;
    }
  }
}
