@use "~bootstrap/scss/bootstrap";

body {
  background-color: #f3f3f2;
}

button {
  background: #737f99;
  border: none;
  border-radius: 5px;
  color: #fff;

  &:hover, &:focus {
    background-color: #99a9cc;
  }
}

/********************/
/*      Header      */
/********************/
header {
  background-color: #393f4c;

  h1 {
    color: #fff;
    padding: 16px;
    text-align: center;
  }
}

/********************/
/*      Choice      */
/********************/
.form-row {
  margin: 20px auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 50%;

  input {
    margin: 0 auto;
  }
}

label {
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/********************/
/*       Modal      */
/********************/
.list-item-body {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(3, 1fr);
}

.list-item {
  margin: 8px;
}

/********************/
/*      Outputs     */
/********************/
.output-area {
  background-color: #fff;
  padding: 20px;
}

.badge {
  margin: 0;
  padding: 0;
  text-align: center;

  img {
    height: 50px;
  }
}

.src-title {
  font-weight: bold;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 85%;

  p {
    margin: 0;
    margin-top: 16px;
  }
}

.src-space {
  background-color: #d3cfd9;
  border-radius: 5px;
  margin: 0 auto;
  overflow: scroll;
  -ms-overflow-style: none;
  padding: 30px 10px;
  scrollbar-width: none; 
  width: 80%;

  &::-webkit-scrollbar {
    display: none;
  }

  code {
    font: 12px source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  }
}

/********************/
/*      Footer      */
/********************/
footer{
  margin-top: 16px;

  p {
    font-size: 12px;
    margin-bottom: 6px;
    text-align: center;
  }
}