@use "~bootstrap/scss/bootstrap";

body {
  background-color: #f3f3f2;
}

button {
  background: #737f99;
  border: none;
  border-radius: 5px;
  color: #ffffff;

  &:hover, &:focus {
    background-color: #99a9cc;
  }
}

/********************/
/*    Breakpoints   */
/********************/
@mixin small {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 992px) {
    @content;
  }
}

/********************/
/*      Header      */
/********************/
header {
  background-color: #393f4c;

  h1 {
    color: #ffffff;
    padding: 16px;
    text-align: center;
  }
}

/********************/
/*      Choice      */
/********************/
.form-wrapper {
  margin: 64px 0;

  @include small {
    margin: 48px 0;
  }
}

.form-row {
  margin: 20px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50vw;

  label {
    margin: 0 auto;
  }

  input {
    margin: 0 auto;
  }

  @include small {
    width: 90vw;
  }
}

.icon-form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 72px 3fr 1fr;
}

.design-form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 72px 2fr 1fr 1fr;
}

label {
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/********************/
/*       Modal      */
/********************/
.modal-header {
  display: block;
  position: relative;
}

.btn-close {
  margin: 0;
  position: absolute;
  right: 24px;
  top: 24px;
}

.search-box {
  text-align: center;

  input {
    border: none;
    border-radius: 18px;
    outline: 3px solid #737f99;
    padding-left: 16px;

    &:focus {
      outline: 3px solid #99a9cc;
    }
  }
}

.list-item-body {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(3, 1fr);

  @include small {
    grid-template-columns: repeat(2, 1fr);
  }
}

.list-item {
  margin: 8px;
}

/********************/
/*      Outputs     */
/********************/
.output-area {
  background-color: #ffffff;
  padding: 20px;

  @include large {
    padding: 20px 12vw;
  }
}

.badge {
  display: block;
  margin: 0 auto;
  padding: 0;

  img {
    height: 50px;
  }
}

.src-title {
  font-weight: bold;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 85%;

  p {
    margin: 0;
    margin-top: 16px;
  }
}

.src-space {
  background-color: #d3cfd9;
  border-radius: 5px;
  margin: 0 auto;
  -ms-overflow-style: none;
  overflow: scroll;
  padding: 30px 10px;
  scrollbar-width: none; 
  width: 80%;

  &::-webkit-scrollbar {
    display: none;
  }

  code {
    font: 12px source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  }
}

/********************/
/*      Footer      */
/********************/
footer{
  margin-top: 16px;

  p {
    font-size: 12px;
    margin-bottom: 6px;
    text-align: center;
  }
}