@use "bootstrap/scss/bootstrap";

body {
  background-color: #f3f3f2;
}

button {
  background: #737f99;
  border: none;
  border-radius: 5px;
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: #99a9cc;
  }
}

/********************/
/*    Breakpoints   */
/********************/
@mixin small {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 992px) {
    @content;
  }
}

/********************/
/*      Header      */
/********************/
header {
  background-color: #393f4c;

  h1 {
    color: #ffffff;
    padding: 16px;
    text-align: center;
  }
}

/********************/
/*       Modal      */
/********************/

.list-item-body {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  @include small {
    grid-template-columns: repeat(2, 1fr);
  }
}

/********************/
/*      Outputs     */
/********************/
.output-area {
  background-color: #ffffff;
  padding: 20px;

  @include large {
    padding: 20px 12vw;
  }
}

.badge {
  display: block;
  margin: 0 auto;
  padding: 0;

  img {
    height: 50px;
  }
}

.src-title {
  font-weight: bold;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 85%;

  p {
    margin: 0;
    margin-top: 16px;
  }
}

.src-space {
  background-color: #d3cfd9;
  border-radius: 5px;
  margin: 0 auto;
  -ms-overflow-style: none;
  overflow: scroll;
  padding: 10px 10px 30px;
  scrollbar-width: none;
  width: 80%;

  .copy-button {
    display: block;
    position: absolute;
    right: 13%;
    transition: all 1s;
    width: 80px;

    @include small() {
      right: 15%;
    }

    @include large() {
      right: 20%;
    }
  }

  .copy-success {
    background-color: #73998d;
    transition: all 1s;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  code {
    display: block;
    font: 12px source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
    padding-top: 25px;
  }
}

/********************/
/*      Footer      */
/********************/
footer {
  margin-top: 16px;

  p {
    font-size: 12px;
    margin-bottom: 6px;
    text-align: center;
  }
}