* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f2;
}

button {
  background: #737f99;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #99a9cc;
  }
}

/********************/
/*    Breakpoints   */
/********************/
@mixin small {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 992px) {
    @content;
  }
}

/********************/
/*      Header      */
/********************/
header {
  background-color: #393f4c;

  h1 {
    color: #ffffff;
    padding: 16px;
    text-align: center;
  }
}

/********************/
/*       Modal      */
/********************/

.list-item-body {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  @include small {
    grid-template-columns: repeat(2, 1fr);
  }
}

/********************/
/*      Footer      */
/********************/
footer {
  margin-top: 16px;

  p {
    font-size: 12px;
    margin-bottom: 6px;
    text-align: center;
  }
}